body, html {
    margin: 0;
    padding: 0;
}

.container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    background-color: rgb(58, 58, 58);
    height:40rem;
    width:70em;
}

.debitsScreen, .leftOverScreen, .creditsScreen {
    background-color: rgb(255, 255, 255);
    margin-top:20px;
    margin-left:30px;
    padding-top:20px;
    width:75%;
    height:30%;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-radius: 15px;
}

.debits, .credits, .leftOver {
    background-color: #F25252;
    width: 25rem;
    height: 20%;
    text-align:center;
}

.leftOver {
    background-color: #BFB063;
    width: 20rem;
}

.credits {
    background-color: #94BF36
}

.calendarLayout {
    background-color: #A6376B;
    height:80%;
    width:100%;  
    text-align: center;
}

.calendar {
    display:grid;
}

/* Previous button inside month header */
.calendarLayout .prev {
    color:white;
    float:left;
    margin-left: 200px;
  }
  
  /* Next button */
  .calendarLayout .next {
    color:white;
    float:right;
    margin-right: 200px;
  }

ul {
    list-style-type: none;
}

.calendarRows {
    display:flex;
    flex-flow: row nowrap;
}

.calendarDays {
    background-color: #BF365A;
    color:white;
    border:2px solid #b43154;
    font-size: 20px;
    height:78px;
    flex-basis:24.5%;
}

form {
    background-color: #A6376B;
    position:absolute;
    right:0;
    top:0;
    width:18%;
    height:20rem;
    border: 2px dotted red;
}

#expense,#amount,#date ,#income{
    background-color: #BF365A;
}

table {
    background-color: #A6376B;
    border:2px dotted blue;
    position:absolute;
    right:0;
    width:18%;
    height:20rem;
    bottom:.5rem;
}